/.vs
/UnitTest/bin
/UnitTest/obj
/Zeze/bin
/Zeze/obj
TestResults
/UnitTest/gsd/Gen
/Gen/bin
/Gen/obj
/GlobalCacheManager/bin
/GlobalCacheManager/obj
/TestGlobal/bin
/TestGlobal/obj
/client
/Game/gsd/bin
/Game/gsd/obj
/Game/gsd/Gen
/Game/client/Gen
/Game/client/obj
/Game/client/bin
/Game/.vs
/Game/server/Gen
/Game/server/obj
/Game/server/bin
/UnitTestClient/Gen
/UnitTestClient/LuaGen
/UnitTestClient/obj
/UnitTestClient/bin
/UnitTestClientCxx/Debug
/UnitTestClientCxx/LuaGen
/Debug
