/.vs
/UnitTest/bin
/UnitTest/obj
/Zeze/bin
/Zeze/obj
TestResults
/UnitTest/gsd/Gen
/Gen/bin
/Gen/obj
/GlobalCacheManager/bin
/GlobalCacheManager/obj
/TestGlobal/bin
/TestGlobal/obj
/client
/Game/gsd/bin
/Game/gsd/obj
/Game/gsd/Gen
/Game/client/Gen
/Game/client/obj
/Game/client/bin
/Game/.vs
/Game/server/Gen
/Game/server/obj
/Game/server/bin
/UnitTestClient/Gen
/UnitTestClient/LuaGen
/UnitTestClient/obj
/UnitTestClient/bin
/UnitTestClientCxx/Debug
/UnitTestClientCxx/LuaGen
/Debug
/UnitTestClientCxx/x64
/UnitTestClientCxx/lua-5.4.1
/TypeScript/bin
/TypeScript/obj
/TypeScript/webpack/node_modules
/ConfigEditor/bin
/ConfigEditor/obj
/packages
/ConfigEditor/Output
/Game2/client/Gen
/Game2/server/Gen
/Game2/client/bin
/Game2/client/obj
/Game2/server/bin
/Game2/server/obj
/Game2/.vs
/Game2/linkd/bin
/Game2/linkd/obj
/Game2/linkd/Gen
