.vs/
autokeys/
bin/
Debug/
obj/
Release/
x64/

*.log
*.pal
*.user
~$*

/*.lnk
/Components/WorldDemo/Gen
/Components/WorldDemo/Zeze/Builtin
/confcs/confcs
/ConfigEditor/Output
/CxxTest/Gen
/Gen/Properties
/GlobalCacheManager/Properties
/lua/csharp/Gen
/lua/csharp/LuaGen
/lua/cxx/*.exe
/lua/cxx/*.pdb
/lua/cxx/Gen
/lua/cxx/lua-5.4.1
/lua/cxx/LuaGen
/packages
/publish/autokeys
/Sample/client/Gen
/Sample/linkd/Gen
/Sample/server/Gen
/Sample/server/Properties
/TestMain/Properties
/TestResults
/TypeScript/**/*.js
/TypeScript/**/*.js.map
/TypeScript/**/gen.ts
/TypeScript/node_modules
/TypeScript/package-lock.json
/TypeScript/tsconfig.tsbuildinfo
/TypeScript/webpack/node_modules
/UnitTest/gsd/Gen
/UnitTest/Properties
/Zeze/Arch/linkd
/ZezeJava/ZezeJavaTest/mqmanager0
/ZezeJava/ZezeJavaTest/mqmanager1
/ZezeJava/ZezeJavaTest/mqmanager2
/ZezeJava/ZezeJavaTest/mqmaster
/lua/csharp/msg
