<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN" monitorInterval="30" shutdownHook="disable">
	<Properties>
		<Property name="path">${sys:logpath:-log}</Property>
		<Property name="name">${sys:logname:-zeze}</Property>
		<Property name="ext">.log</Property>
	</Properties>
	<Appenders>
		<Null name="Null" />

		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %5p [%t] %c{1}: %m%n" />
		</Console>

		<RollingFile name="AllLog" fileName="${path}/${name}${ext}" filePattern="${path}/${name}.%d{yy-MM-dd}-%i${ext}">
			<PatternLayout charset="UTF-8" pattern="%d{yy-MM-dd HH:mm:ss.SSS} %5p [%t] %c{1}: %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<DefaultRolloverStrategy max="1000"/>
		</RollingFile>

		<RollingFile name="ErrorLog" fileName="${path}/${name}_error${ext}" filePattern="${path}/${name}_error.%d{yy-MM-dd}-%i${ext}">
			<ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY" />
			<PatternLayout charset="UTF-8" pattern="%d{yy-MM-dd HH:mm:ss.SSS} %5p [%t] %c{1}: %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<DefaultRolloverStrategy max="1000"/>
		</RollingFile>
	</Appenders>

	<Loggers>
		<Logger name="org" level="INFO" />
		<Logger name="io.netty" level="INFO" />
		<Logger name="com.alibaba.druid.pool" level="INFO" />

		<Root level="${sys:loglevel:-DEBUG}">
			<AppenderRef ref="${sys:logconsole:-Console}" />
			<AppenderRef ref="AllLog" />
			<AppenderRef ref="ErrorLog" />
		</Root>
	</Loggers>
</Configuration>
