<?xml version="1.0" encoding="utf-8"?>

<!--
GlobalCacheManagerHostNameOrAddress: server 启用 cache-sync，必须指定。所有的 server 必须配置一样。
ServerId   每个 server 必须配置不一样，范围 [0, AutoKeyLocalStep)
AutoKeyLocalStep: 自增长步长。server 实例数量上限。
-->
<zeze
	GlobalCacheManagerHostNameOrAddress="127.0.0.1" GlobalCacheManagerPort="5002"
	CheckpointPeriod="60000"
	ServerId="0"
	ServiceManager=""
	HotWorkingDir="../ZezexJava/server/hot"
	HotDistributeDir="../ZezexJava/server/hot/distributes"
	>
	<GlobalCacheManagersConf>
		<host name="global.raft.xml"/>
	</GlobalCacheManagersConf>

	<ServiceManagerConf raftXml="servicemanager.raft.xml"/>

	<DatabaseConf Name="" DatabaseType="Memory" DatabaseUrl=""/>

	<ServiceConf Name="Server" InputBufferMaxProtocolSize="2M">
	</ServiceConf>

	<ServiceConf Name="LoginQueueAgent" InputBufferMaxProtocolSize="2M">
		<Connector HostNameOrAddress="127.0.0.1" Port="5021"/>
	</ServiceConf>

	<ServiceConf Name="Zeze.Services.ServiceManager.Agent">
		<Connector HostNameOrAddress="127.0.0.1" Port="5001"/>
	</ServiceConf>

	<ServiceConf Name="ServerDirect" InputBufferMaxProtocolSize="2M">
		<Acceptor Ip="" Port="20001"/>
	</ServiceConf>

	<ServiceConf Name="Zeze.Dbh2.Commit">
		<Acceptor Ip="127.0.0.1" Port="7789"/>
	</ServiceConf>

	<CustomizeConf Name="LogServiceConf">
		<LogConf LogActive="zeze.log" logDir="log"/>
		<LogConf LogActive="zeze_error.log" logDir="log"/>
	</CustomizeConf>

	<ServiceConf Name="Zeze.LogService.Server">
		<Acceptor Ip="127.0.0.1" Port="7790"/>
	</ServiceConf>
</zeze>
