.gradle/
127.0.0.1_*/
build/
classes/
db/
RocksDB/
dbhome/
Gen/
lib/
log/
target/
zeze_cache_*/

Redirect_*.java

/log4j2.xml
/raft.xml
/zeze.xml
/ZezeJavaTest/test.ks
/ZezeJavaTest/CommitRocks*
/ZezeJavaTest/DiffLockAndNoLock
/ZezeJavaTest/hot/distributes
/ZezeJavaTest/RocksDB
/ZezeJavaTest/manager*
/ZezeJavaTest/master
/ZezexJava/server/hot
/ZezexJava/server/hotrun
/test/Dbh2/CommitRocks*
/test/Dbh2/manager*
/test/Dbh2/master
