.gradle/
127.0.0.1_*/
binlog/
build/
classes/
db/
dbhome/
Gen/
lib/
log/
RocksDB/
target/
TestRocksDb/
token_db/
zeze_cache_*/

Redirect_*.java
rocksdbjni.dll
test.ks

/test/autokeys2
/test/Dbh2/CommitRocks*
/test/Dbh2/manager*
/test/Dbh2/master
/test/InfiniteSimulate/CommitRocks*
/ZezeJavaTest/test.ks
/ZezeJavaTest/CommitOnzServer0
/ZezeJavaTest/CommitRocks*
/ZezeJavaTest/dbh2TestSimple
/ZezeJavaTest/DiffLockAndNoLock
/ZezeJavaTest/hot/distributes
/ZezeJavaTest/manager*
/ZezeJavaTest/master
/ZezeJavaTest/mqmanager*
/ZezeJavaTest/mqmaster
/ZezeJavaTest/testFileWithIndexed
/ZezeJavaTest/testMmapFile*
/ZezexJava/linkd/clazz
/ZezexJava/linkd/upload
/ZezexJava/server/hot
/ZezexJava/server/hotrun
/log4j2.xml
/raft.xml
/zeze.xml
