<?xml version="1.0" encoding="UTF-8"?>

<configuration status="WARN" monitorInterval="30">
	<Properties>
		<Property name="out">./</Property>
		<Property name="name">zeze</Property>
		<Property name="logname">.log</Property>
	</Properties>
	<!--先定义所有的appender -->
	<appenders>
		<!--这个输出控制台的配置 -->
		<console name="Console" target="SYSTEM_OUT">
			<!--输出日志的格式 -->
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %5p [%t] %c{1} %m%n" />
		</console>

		<RollingFile name="infolog" fileName="${out}/${name}${logname}" filePattern="${out}/${name}%d{yyyy-MM-dd}-%i${logname}">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %5p [%t] %c{1} %m%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
		</RollingFile>

		<RollingFile name="errorlog" fileName="${out}/${name}_error${logname}" filePattern="${out}/${name}_error%d{yyyy-MM-dd}-%i${logname}">
			<ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY" />
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %5p [%t] %c{1} %m%n"/>
			<Policies>
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
		</RollingFile>

	</appenders>

	<loggers>

		<logger name="org" level="INFO"></logger>
		<logger name="io.netty" level="INFO"></logger>

		<root level="info">
			<appender-ref ref="Console" />
			<appender-ref ref="infolog" />
			<appender-ref ref="errorlog" />
		</root>
	</loggers>
</configuration>